.student-projects {

  padding-top: 76px;
  padding-bottom: 55px;
  color: white;

}

#student-projects_container {

  display: flex;
  flex-direction: column;

}

.student-projects_title {

  font-weight: 800;
  font-size: 3.36rem;
  text-transform: uppercase;
  margin-bottom: 18px;

}

.student-projects_text { 

  font-weight: 400;
  font-size: 1.43rem;
  margin-bottom: 16px;

}

.student-projects_arrows {

  width: 7.04%;
  justify-content: space-between;
  margin-left: auto;
  display: flex;
  justify-content: space-between;

}

.student-projects_arrow {

  background-color: #FFCC00;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;

}

#arrow_left {

  background-image: url("../../imgs/left_arrow.svg");

}

#arrow_right {
  background-image: url("../../imgs/right_arrow.svg");
}

body {

  overflow-x: hidden;

}

